<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>应用详情</title>
  ${jsContext}${appJs}${jquery}${bootstrap}${jqueryUI}${jqGrid}${vue}${ele}${pnotify}
  <script type="text/javascript" src="${request.contextPath}/js/application_detail.js"></script>
  <link rel="stylesheet" href="${request.contextPath}/css/global.css">
</head>
<body>
	<div id="app">
		<el-row>
			<el-col :span="7">
				<div style="font-size:18px;margin-left:10px;">
					<img src="${request.contextPath}/images/app.png">
					${application.applicationName}
				</div>
			</el-col>
			<el-col :span="17">
				<el-button type="warning" @click="returnMainList" icon="arrow-left"  size="small">返回主列表</el-button>
				<el-button type="primary" size="small" @click="dialogUploadVisible=true" icon="plus">上传jar</el-button>
				<el-button type="success" size="small" @click="showStartDialog" :disabled="button.start.disabled">启动应用</el-button>
				<el-button size="small" :disabled="button.deploy.disabled" @click="showDeployDialog" :plain="true" >部署应用</el-button>
				<el-button size="small" :plain="true" :disabled="button.stop.disabled"  @click="showStopDialog">停止应用</el-button>
				<el-button size="small" :plain="true" :disabled="button.rollback.disabled" @click="showRollbackDialog">应用回滚</el-button>
				<el-button size="small" type="danger" :disabled="button.del.disabled" @click="dialogDeleteAppVisible=true">删除应用</el-button>
				<el-button size="small" :plain="true" @click="location.reload()">刷新</el-button>
			</el-col>
		</el-row>
		
		<div class="split-line"></div>
		
		<el-row>
			<el-col :span="24">
				<div style="padding:5px;width:100%;height:25px;border:1px solid #f3f5f9;background-color: #f3f5f9">
					应用信息
				</div>
			</el-col>
		</el-row>
		<el-row>
			<el-col :span="12">
				<div style="font-size:15px;padding:5px;border:1px solid #f3f5f9;">
					<el-row>
						<el-col :span="11">应用标识:</el-col>
						<el-col :span="11" :offset="2">${application.appId}</el-col>
					</el-row>
				</div>
			</el-col>
			<el-col :span="12">
				<div style="font-size:15px;padding:5px;border:1px solid #f3f5f9;">
					<el-row>
						<el-col :span="11">负责人:</el-col>
						<el-col :span="11" :offset="2">${application.charger}</el-col>
					</el-row>
				</div>
			</el-col>
		</el-row>
		<el-row>
			<el-col :span="12">
				<div style="font-size:15px;padding:5px;border:1px solid #f3f5f9;">
					<el-row>
						<el-col :span="11">状态:</el-col>
						<el-col :span="11" :offset="2">
							${application.runningInstanceNum!0}/${application.allInstanceNum!0}
						</el-col>
					</el-row> 
				</div>
			</el-col>
			<el-col :span="12">
				<div style="font-size:15px;padding:5px;border:1px solid #f3f5f9;">
					<el-row>
						<el-col :span="11">程序包:</el-col>
						<el-col :span="11" :offset="2">
							<span id="spanJarName">
								${application.jarName!""}
							</span>
						</el-col>
					</el-row> 
				</div>
			</el-col>
		</el-row>
		<el-row>
			<el-col :span="12">
				<div style="font-size:15px;padding:5px;border:1px solid #f3f5f9;">
					<el-row>
						<el-col :span="11">创建时间:</el-col>
						<el-col :span="11" :offset="2">${application.createDate}</el-col>
					</el-row> 
				</div>
			</el-col>
		</el-row>
		
		<div class="split-line"></div>
		
		<el-row>
			<el-col :span="24">
				<div style="padding:5px;width:100%;height:25px;border:1px solid #f3f5f9;background-color: #f3f5f9">
					部署实例
				</div>
			</el-col>
		</el-row>
		<el-row>
			<el-col :span="24">
	  			<div>
	  				<table id="list"></table>
					<div id="pager"></div>
				</div>
	  		</el-col>
		</el-row>
		
		<el-dialog title="文件上传" v-model="dialogUploadVisible" lock-scroll>
			<el-upload
				  :action="uploadUrl"
				  :on-success="uploadJarSuccess"
				  :on-error="uploadJarError"
				  :before-upload="beforeUploadJar"
				  :file-list="uploadFileList">
				  <el-button size="small" type="primary">点击上传</el-button>
				  <div slot="tip" class="el-upload__tip">只能上传可执行jar文件或者zip压缩文件</div>
				</el-upload>
		</el-dialog>
		
		<el-dialog title="部署应用" size="large" v-model="dialogDeployVisible" lock-scroll>
			<el-row>
				<el-col :span="24">
					<el-button type="primary" size="small" @click="allDeploy">全部部署</el-button>
					<el-button type="primary" size="small" @click="deploy" :plain="true">选择部署</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:9px;"></div>
			<el-row>
				<el-col :span="4">
					<el-input v-model="grid.unDeployMachine.searchVal" placeholder="请输入物理机实例名称" onkeyup="if(arguments[0].keyCode == 13)unDeployMachineGridSearch();" size="small"></el-input>
				</el-col>
				<el-col :span="4" :offset="1">
					<el-button @click="unDeployMachineGridSearch()" size="small" :plain="true">搜索</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:5px;"></div>
			<el-row>
				<el-col :span="24">
		  			<div>
		  				<table id="unDeployMachineList"></table>
						<div id="unDeployMachinePager"></div>
					</div>
		  		</el-col>
			</el-row>
			<div style="margin-top:15px;"></div>
			<el-row>
				<el-col :span="4">
					<el-input v-model="grid.deployedMachine.searchVal" placeholder="请输入物理机实例名称"  onkeyup="if(arguments[0].keyCode == 13)deployedMachineGridSearch();" size="small"></el-input>
				</el-col>
				<el-col :span="4" :offset="1">
					<el-button @click="deployedMachineGridSearch()" size="small" :plain="true">搜索</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:5px;"></div>
			<el-row>
				<el-col :span="24">
		  			<div>
		  				<table id="deployedMachineList"></table>
						<div id="deployedMachinePager"></div>
					</div>
		  		</el-col>
			</el-row>
		</el-dialog>
		
		
		<el-dialog title="启动应用" size="large" v-model="dialogStartableAppVisible" lock-scroll>
			<el-row>
				<el-col :span="24">
					<el-button type="primary" size="small" @click="startAll">全部启动</el-button>
					<el-button type="primary" size="small" @click="start" :plain="true">选择启动</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:9px;"></div>
			<el-row>
				<el-col :span="4">
					<el-input v-model="grid.startable.searchVal" placeholder="请输入物理机实例名称" onkeyup="if(arguments[0].keyCode == 13)startableGridSearch();" size="small"></el-input>
				</el-col>
				<el-col :span="4" :offset="1">
					<el-button @click="startableGridSearch()" size="small" :plain="true">搜索</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:5px;"></div>
			<el-row>
				<el-col :span="24">
		  			<div>
		  				<table id="startableAppList"></table>
						<div id="startableAppPager"></div>
					</div>
		  		</el-col>
			</el-row>
		</el-dialog>
		
		<el-dialog title="停止应用" size="large" v-model="dialogStoppableAppVisible" lock-scroll>
			<el-row>
				<el-col :span="24">
					<el-button type="primary" size="small" @click="stopAll">全部停止</el-button>
					<el-button type="primary" size="small" @click="stop" :plain="true">选择停止</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:9px;"></div>
			<el-row>
				<el-col :span="4">
					<el-input v-model="grid.stoppable.searchVal" placeholder="请输入物理机实例名称" onkeyup="if(arguments[0].keyCode == 13)stoppableGridSearch();" size="small"></el-input>
				</el-col>
				<el-col :span="4" :offset="1">
					<el-button @click="stoppableGridSearch()" size="small" :plain="true">搜索</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:5px;"></div>
			<el-row>
				<el-col :span="24">
		  			<div>
		  				<table id="stppableAppList"></table>
						<div id="stppableAppPager"></div>
					</div>
		  		</el-col>
			</el-row>
		</el-dialog>
		
		
		<el-dialog title="删除应用" size="small" v-model="dialogDeleteAppVisible" lock-scroll>
			<el-row>
				<el-col :span="24">
					<el-button type="primary" size="small" @click="deleAllApp">全部删除</el-button>
					<el-button type="primary" size="small" @click="deleteApp" :plain="true">选择删除</el-button>
				</el-col>
			</el-row>
		</el-dialog>
		
		<el-dialog title="应用回滚" size="large" v-model="dialogRollbackAppVisible" lock-scroll>
			<el-row>
				<el-col :span="24">
					<el-button type="primary" size="small" @click="rollback" >回滚</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:9px;"></div>
			<el-row>
				<el-col :span="4">
					<el-input v-model="grid.deploySerialMachine.searchVal" placeholder="请输入物理机实例名称" onkeyup="if(arguments[0].keyCode == 13)deploySerialMachineGridSearch();" size="small"></el-input>
				</el-col>
				<el-col :span="4" :offset="1">
					<el-button @click="deploySerialMachineGridSearch()" size="small" :plain="true">搜索</el-button>
				</el-col>
			</el-row>
			<div style="margin-top:5px;"></div>
			<el-row>
				<el-col :span="24">
		  			<div>
		  				<table id="deploySerialMachineList"></table>
						<div id="deploySerialMachinePager"></div>
					</div>
		  		</el-col>
			</el-row>
			<div style="margin-top:15px;"></div>
			<el-row>
				<el-col :span="24">
		  			<div>
		  				<table id="deploySerialList"></table>
						<div id="deploySerialPager"></div>
					</div>
		  		</el-col>
			</el-row>
		</el-dialog>
		
	</div>
	
  	<input type="hidden" value="${application.id}" id="id" />
  	<input type="hidden" value="${application.appId}" id="appId" />
</body>

</html>
